* {
    margin: 0;
    padding: 0;

}

header {
    background: grey;
    color: aqua;
    text-align: center;
    padding: 5px;
}

main {
    grid-area: main;
}

main .aside-bar {
    background-color: rgb(235, 225, 225);
    min-height: 100vh;
}

main .aside-bar .items {
    display: flex;
}

.grid .card {
    text-align: center;

}

.grid .card img {
    width: 200px;

}


footer {
    color: brown;
}